flask==0.10.1
flask-script==2.0.5
flask-bootstrap==3.3.5.7
flask-moment==0.5.1
flask-wtf==0.12
flask-sqlalchemy==2.1
MySQL-python==1.2.5
Flask-Migrate==1.6.0
Flask-Mail==0.9.1
Flask-Login==0.3.2
Werkzeug==0.10.4
itsdangerous==0.24
ForgeryPy==0.1
Flask-PageDown==0.2.1
Markdown==2.6.4
bleach==1.4.2
Flask-HTTPAuth==2.7.0
coverage==4.0.3
